<div class="login-container">
  <h2>{{ isRegister ? 'Register' : 'Login' }}</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div *ngIf="isRegister">
      <label>Name</label>
      <input type="text" formControlName="name" />
    </div>
    <div *ngIf="isRegister">
      <label>Contact Number</label>
      <input type="number"  formControlName="contact" />
    </div>
    <div>
      <label>Email</label>
      <div>
        <input type="text" formControlName="email" />
      </div>
      
    </div>
    <div>
      <label>Password</label>
      <input type="password" formControlName="password" />
    </div>
    <div *ngIf="isRegister">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" />
    </div>
    <button type="submit" [disabled]="loginForm.invalid">{{ isRegister ? 'Register' : 'Login' }}</button>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
  <p>
    {{ isRegister ? 'Already have an account?' : 'Don\'t have an account?' }}
    <a (click)="toggleForm()">{{ isRegister ? 'Login' : 'Register' }}</a>
  </p>
</div>